.sectionCards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
}

.filter {
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.moreButton {
  margin: 20px auto;
}
