.card {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  width: 380px;
  height: 400px;
  border: 1px solid rgba(0, 0, 0, 0.171);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  border-radius: 5%;
}

.cardContent {
  cursor: pointer;
}

.image {
  max-width: 250px;
  max-height: 200px;
  object-fit: contain;
}

.cardText {
  padding: 10px;
  text-align: justify;
  height: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.cardButtons {
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
}

.cardButton {
  cursor: pointer;
}

.button {
  width: 25px;
  height: 25px;
}

.button.active {
  fill: rgb(32, 30, 30);
}
