._view_1s1pd_1{display:flex;flex-direction:column;justify-content:center;align-items:center;gap:40px}._viewImage_1s1pd_9{max-width:400px;max-height:400px}._viewText_1s1pd_14{max-width:600px;text-align:justify}
